# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
备份/
例程/
adb/
*.代码/

# Executables
*.swf
*.air
*.ipa
*.apk
*.txt
*.bak
*.rar
*.zip
*.bmp
*.png
*.jpg
*.jpeg
*.gif

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.vs
